:root {
  /* light mode */
  --theme: #ecebeb;
  --entry: #ededed;
  --primary: #202020;
  --secondary: #657b83;
  --tertiary: #ffffff;
  --content: #073642;
  --border: #4fe6b3;
  --code-bg: #f0f0f0;
  --hljs-bg: #002b36;
}
body {
  background: var(--theme) !important;
}

/* Dark mode overrides  */
:root[data-theme="dark"] {
  --theme: #1a1a1a;
  --entry: #303030;
  --primary: #e0e0e0;
  --secondary: #bdbdbd;
  --tertiary: #2e2f2f;
  --content: #d2d2d2;
  --border: #674744;
  --code-bg: #252525;
  --code-block-bg: #0d0d0d;
}

